body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e3635;
}

header {
    background-color: #ffffff;
    color: #2e3635;
    text-align: center;
    padding: 10px;
}

#nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;

        li {
            a {
                color: #1f231e;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.section {
    padding: 20px;
    background-color:white;
    text-align: center;

    .hero-image {
        width: 100%;
        overflow: hidden;
    
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    h3 {
        font-size: 1rem;
        color: #578479;
    }
      

    h1 {
        font-size: 2rem;
        margin-bottom: 10px;
        color: rgb(33, 35, 33);

    }


    p {
        font-size: 1rem;
        color: black;
        max-width: 30rem;
        margin: 0 auto;
    }


}

.mobile-nav {
    display: block;

    @media (max-width: 768px) {
        display: none;
    }
}

.mobile-nav-toggle {
    display: none;

    @media (max-width: 768px) {
        display: block;
        background-color: #1b3333;
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 7%;
    }
}

// 

.projects {
    padding: 20px;
    background-color:rgb(18, 30, 17);
    text-align: center;

    h1 {
        font-size: 2rem;
        margin-bottom: 10px;
        color: rgb(222, 241, 222);

    }


    p {
        font-size: 1rem;
        color: rgb(181, 255, 23);
        max-width: 30rem;
        margin: 0 auto;
    }



}

.projects{
    background-color: #1b3333;
    .section{
        background-color:#2e3635;
    }
}



.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    background-color: #1b3333;

    .project {
        border: 0px solid #ccc;
        padding: 20px;
        text-align: center;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        h3 {
            margin-top: 10px;
        }

        p {
            font-size: 0.9rem;
        }
    }
}

@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}